.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.controls {
  display: flex;
  justify-content: right;
  gap: 4px;
  width: 100%;
}

.control {
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 4px;
}

.playlist {
  list-style-type: disclosure-closed;
  margin: 0;
}
